@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles and variable */

html {
  font-size: 10px;
}
body {
  background-color: whitesmoke;
}
.qs-bold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}
.qs-semibold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
}
.qs-medium {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
.qs-light {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
:root {
  --clrorange: #fea301;
  --clrskyblue: #01acfd;
  --clrcyan: #05d4df;
  --clrpurple: #5d58ef;
  --clrblack: #000000;
  --clrsky: #3cd8e8;
  --clrlightgreen: #95b226;
  --clrwhite: #ffffff;
  --clrgray: #808080;
}
.button1 {
  padding: 10px;
  border-radius: 12px;
  background-color: var(--clrorange);
  font-size: 2rem;
  color: var(--clrwhite);
  height: 50px;
  width: 197px;
  border: none;
  cursor: pointer;
}
.button2 {
  padding: 10px;
  border-radius: 12px;
  background-color: var(--clrblack);
  font-size: 2rem;
  color: var(--clrwhite);
  height: 50px;
  width: 197px;
  cursor: pointer;
}
#empowering {
  color: var(--clrorange);
}
#vision {
  color: var(--clrskyblue);
}
/* header styles */

/* navbar section  */

.navbar {
  max-width: 1160px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 0px;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li {
  list-style: none;
}
.nav_items {
  display: flex;
  gap: 3.2rem;
}
#item_1 {
  color: var(--clrorange);
  font-size: 2rem;
}
#item_2 {
  color: var(--clrskyblue);
  font-size: 2rem;
}
#item_3 {
  color: var(--clrcyan);
  font-size: 2rem;
}
#item_4 {
  color: var(--clrpurple);
  font-size: 2rem;
}
.nav_logo_text {
  font-size: 3.2rem;
  color: var(--clrblack);
}
.nav_logobox_container {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.nav_logo_image_container {
  width: 62px;
  height: 62px;
}
.nav_logo_image_container img {
  width: 100%;
}
.nav_bar_icon_container {
  display: none;
}

@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    /* border: 2px solid slateblue; */
    padding-right: 10px;
  }
  .nav_items_container {
    display: none;
  }
  .nav_button_container {
    display: none;
  }
  .nav_logo_text_container {
    display: none;
  }

  .nav_logo_image_container {
    width: 46px;
    height: 46px;
  }
  .nav_bar_icon_container {
    display: flex;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
  }
}

/* marquee section */

.marquee_area {
  max-width: 1160px;
  margin: 0 auto;
  /* background-color: var(--clrorange); */
}

.marquee_area marquee {
  /* margin-top: 1rem; */
  font-size: 2rem;
  color: var(--clrskyblue);
  animation: scroll 10s linear infinite, colorChange 7s step-end infinite;
  /* border: 2px solid var(--clrskyblue); */
}

@keyframes colorChange {
  0% {
    color: var(--clrpurple);
  }
  25% {
    color: var(--clrcyan);
  }
  50% {
    color: var(--clrorange);
  }
  75% {
    color: var(--clrsky);
  }
}

/* banner section  */
.banner {
  max-width: 1160px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.banner_info_container {
  /* border: 2px solid blueviolet; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 640px;
  /* height: 331px; */
}
.banner_heading_container {
  font-size: 5.6rem;
  text-align: left;
}
.banner_sub_heading {
  font-size: 2rem;
  text-align: left;
}
.banner_image_container {
  max-width: 489px;
  /* height: 575px; */
  /* border: 2px solid red; */
}
.banner_image_container img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    max-width: 357px;
    gap: 10px;
  }
  .banner_info_container {
    flex-direction: column;
    max-width: 357px;
    /* border: 2px solid red; */
  }
  .banner_texts {
    font-size: 3.2rem;
    text-align: center;
  }
  .banner_caption {
    font-size: 1.4rem;
    text-align: center;
  }
  .banner_button {
    display: flex;
    justify-content: center;
  }
  /* .banner_image_container{
    border: 2px solid yellowgreen;
  } */
  .button2 {
    padding: 6px 24px;
  }
  .marquee_text {
    font-size: 1.5rem;
  }
}

/* curriculum section  */

.curriculum {
  margin-top: 80px;
  max-width: 100%;
  /* border: 2px solid red; */
  margin: 0 auto;
  height: 879px;
  background-image: url("https://i.ibb.co.com/4gXNST3/bg.png");
  padding: 50px 0px;
}
.curriculum_wrapper {
  max-width: 1160px;
  /* border: 2px solid teal; */
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.curriculum_main_heading {
  display: flex;
  justify-content: center;
}

.curriculum_main_heading_text {
  font-size: 4.6rem;
}

/* curriculum card section */
.curriculum_card_container {
  display: flex;
  justify-content: center;
  gap: 2.9rem;
}
.curriculum_card {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  max-width: 368px;
  height: 481px;
  border-radius: 19px;
}
.curriculum_card_title {
  font-size: 2.5rem;
  text-align: center;
}
.curriculum_card_description {
  color: var(--clrgray);
  text-align: center;
  font-size: 1.5rem;
}
.curriculum_card_image_container {
  width: 131px;
  height: 112px;
}
.curriculum_card_image_container img {
  width: 100%;
}
.curriculum_button {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.curriculum_button a {
  text-decoration: none;
  color: var(--clrcyan);
}
.card_text_info_container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
#readmore1 {
  color: var(--clrcyan);
}
#readmore2 {
  color: var(--clrorange);
}
#readmore3 {
  color: var(--clrpurple);
}
#card1 {
  border: 2px solid #def5ff;
  background: linear-gradient(160deg, #def5ff, #ffffff);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}
#card2 {
  border: 2px solid #fff4dc;
  background: linear-gradient(160deg, #fff4dc, #ffffff);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}
#card3 {
  border: 2px solid #f2e8ff;
  background: linear-gradient(160deg, #f2e8ff, #ffffff);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

.leftright_button_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.fa-circle-chevron-right,
.fa-circle-chevron-left {
  color: var(--clrorange);
}
@media screen and (max-width: 576px) {
  .curriculum {
    max-width: 390px;
    flex-direction: column;
  }
  .curriculum_main_heading {
    display: flex;
    text-align: center;
  }
  .curriculum_card_container {
    flex-direction: column;
    align-items: center;
  }
  .leftright_button_container {
    display: none;
  }
}

/* stories section */
.stories {
  margin-top: 80px;
  max-width: 100%;
  /* border: 2px solid red; */
  margin: 0 auto;
  height: 1018px;
  background-image: linear-gradient(-0deg, rgba(254, 161, 1, 0.3), #ffffff05),
    url("https://i.ibb.co.com/4gXNST3/bg.png");
  padding: 50px 0px;
}
.stories_wrapper {
  max-width: 1160px;
  margin: 0 auto;
  /* border: 2px solid goldenrod; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.stories_section_title {
  font-size: 4.6rem;
}

.storycard .stories_image_container img {
  width: 100%;
}
.storycard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: var(--clrwhite);
  border-radius: 16px;
  /* gap: 1.5rem; */
  /* border: 2px solid red; */
}
.storycard .stories_text_container {
  display: flex;
  flex-direction: column;
  /* gap: 4.7rem; */
  /* border: 2px solid red; */
}
.storycard button {
  display: flex;
  /* justify-content: flex-start; */
}
.stories_3 .stories_image_container,
.stories_4 .stories_image_container,
.stories_5 .stories_image_container,
.stories_2 .stories_image_container {
  max-width: 291px;
  height: 177px;
  /* border: 2px solid rgb(0, 255, 157); */
}
.stories_3 .stories_image_container img,
.stories_4 .stories_image_container img,
.stories_5 .stories_image_container img,
.stories_2 .stories_image_container img {
  width: 100%;
  border-radius: 1.6rem;
}

.stories_3 .stories_text_description,
.stories_4 .stories_text_description,
.stories_5 .stories_text_description,
.stories_2 .stories_text_description {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: bold;
  padding: 15px 10px;
}
/* story card button section */
.storycard button {
  border-radius: 47px;
  border: none;
  color: var(--clrwhite);
  padding: 8px 8px;
}
.stories_3 .stories_button_container,
.stories_4 .stories_button_container,
.stories_5 .stories_button_container,
.stories_2 .stories_button_container {
  position: relative;
  top: -8%;
}
.stories_1 .stories_button_container button {
  background-color: var(--clrcyan);
}
.stories_2 .stories_button_container button {
  background-color: var(--clrlightgreen);
}
.stories_3 .stories_button_container button {
  background-color: var(--clrpurple);
}
.stories_4 .stories_button_container button {
  background-color: var(--clrlightgreen);
}
.stories_5 .stories_button_container button {
  background-color: var(--clrlightgreen);
}

/* story 1 section */
.stories_1 .stories_image_container {
  width: 100%;
  height: 80%;
  /* border: 2px solid red; */
}
.stories_1 .stories_image_container img {
  border-radius: 16px;
  /* border: 2px solid yellow; */
}

.stories_1 h3 {
  font-size: 2.4rem;
}
.stories_1 p {
  font-size: 1.5rem;
  color: var(--clrgray);
}
.stories_1 .stories_button_container {
  position: relative;
  top: -17%;
  left: -25%;
}
.stories_1 .stories_text_container {
  position: relative;
  top: -70px;
  padding: 5px 10px;
}
.stories_1 .stories_text_container {
  display: flex;
  gap: 40px;
}

/* stories grid section */

.stories_grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* border: 2px solid blue; */
  gap: 1.9rem;
}
.stories_1 {
  grid-area: 1/1/3/3;
}
.stories_2 {
  grid-area: 1/3/2/4;
}
.stories_3 {
  grid-area: 1/4/2/5;
}
.stories_4 {
  grid-area: 2/3/3/4;
}
.stories_5 {
  grid-area: 2/4/3/5;
}

@media screen and (max-width: 576px) {
  .stories_wrapper {
    padding: 20px;
    margin-top: 1000px;
  }

  .stories_section_title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .stories_grid_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .storycard {
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background-color: #ffffff;
  }

  .stories_image_container img {
    width: 100%;
  }

  .stories_text_container {
    padding: 15px;
    text-align: center;
  }
  .stories_text_heading {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  /* .stories_text_description {
    font-size: 1rem; 
    line-height: 1.5;
} */

  .stories_button_container {
    text-align: center;
    margin: -15px 0;
  }

  .stories_section_button_container {
    text-align: center;
    margin-top: 20px;
  }

  .stories_section_button_container .button2 {
    font-size: 1.4em;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--clrblack);
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
  }
  .stories_1 {
    display: none;
  }
  .stories_section_title {
    font-size: 2.6em;
  }
}

footer {
  width: 100%;
  background-color: var(--clrskyblue);
  /* display: flex;
  justify-content: center; */
}
.footer_wrapper {
  max-width: 1160px;
  height: 519px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 50px;
  justify-content: space-between;
  gap: 3rem;
  padding-right: 100px;
}
.footer_logo_title_container h2 {
  font-size: 4.2rem;
  color: var(--clrwhite);
}

.logo_description_container {
  font-size: 2rem;
  color: var(--clrwhite);
}
.logo_description_container p {
  width: 400px;
  font-weight: 400px;
}
.footer_logo_container {
  display: flex;
  align-items: center;
}
.education_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about_school_container {
  display: flex;
  flex-direction: column;
  color: var(--clrwhite);
}
.about_school_title h5 {
  font-size: 2.4rem;
}
.footer_nav_container ul li {
  list-style: none;
  margin-top: 2rem;
  font-size: 2rem;
}
.footer_nav_container {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.footer_social_icon_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer_social_icon_title h5 {
  font-size: 2.4rem;
  color: var(--clrwhite);
}
.footer_social_icon {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 576px) {
  footer {
    height: 782px;
  }
  .footer_wrapper {
    max-width: 390px;
    margin-top: 1500px;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 692px;
  }
  .education_container {
    /* display: flex; */
    margin: 0 auto;
  }
  .about_school_container {
    margin-left: -130px;
  }
  .footer_social_icon_container {
    margin-left: -100px;
  }
}
